# Galactic Defender - Зависимости проекта

# Основной игровой движок
arcade==2.6.17

# QT-лаунчер
PyQt6==6.5.0
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.0


Pillow==9.5.0        # Для работы с изображениями (если нужно)

# Утилиты разработки
black==23.3.0        # Форматирование кода (опционально)
flake8==6.0.0        # Линтинг кода (опционально)
pytest==7.3.1        # Тестирование (опционально)
